<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.2/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    cacheDirectory=".phpunit.result.cache"
>
    <testsuites>
        <testsuite name="Perennial Task Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="coverage-html"/>
            <clover outputFile="coverage.clover"/>
        </report>
    </coverage>
    <source>
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <file>.php-cs-fixer.dist.php</file>
            <file>build.php</file>
            <directory>tests</directory>
            <directory>vendor</directory>
        </exclude>
    </source>
</phpunit>
